@import "../../src/scss/main";

.main {
  background: $primary;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main__container {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 24px 16px;
}
